{% extends "::layout.html.twig" %}

{% block title %}
    Ajout - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        {% for liste in list %}
                <div class="col-md-3 col-md-offset-2">
                    <div class="row well">
                        <p>
                            {{ liste['date']}}
                        </p>
                        <p>
                            {{ liste['title']}}
                        </p>
                        <p>
                            {{ liste['image']}}
                        </p>
                        <br /><br />
                    </div>
                </div>
        {% endfor %}
    </div>

{% block javascript %}
{{ parent() }}
{% endblock %}
{% endblock %}

