{% extends "::layout.html.twig" %}

{% block title %}
    Ajout - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row form-admin">
        <div class="well col-md-4 col-md-offset-4 ">


            {#{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}#}

            {# Les erreurs générales du formulaire. #}
            {#{{ form_errors(form) }}#}

            {#{{ form(form) }}#}

            {#{{ form_widget(form.Poster, {'attr': {'class': 'btn btn-primary login'}}) }}#}

            {# Génération automatique des champs pas encore écrits.#}
               {#Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
               {#et tous les champs cachés (type « hidden »). #}
            {#{{ form_rest(form) }}#}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {#{{ form_end(form) }}#}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#menu .nav li").removeClass('active');//this will remove the active class from
            $('#admin').addClass("active");
        }
    </script>

{% endblock %}